/* Cascading Stylesheet | Campaign Version

@Layout

* --------------------------------------------------------------------- */
/* Canvas | @Layout */
/* set the minimum width of our canvas */
.dtm__in--dv .l-outer,
.dtm__in--dv .l-header,
.dtm__in--dv .l-footer {
	min-width: 980px;
}

/* set the maximum width of our canvas */
.dtm__in--dv .l-header__in,
.dtm__in--dv .l-outer__in,
.dtm__in--dv .l-footer__in {
	max-width: 980px;
}

.dtm__in--dv #content_top,
.dtm__in--dv #content_bottom {
	border-radius: 0;
}

.dtm__in--dv #content_top {
	padding: 0 3px 3px;
}

/* set the padding of the canvas */
.dtm__in--dv .l-outer__in {
	padding: 0 3px;
    border: none;
}

/* set the border style of our header & midline sections */
.dtm__in--dv .l-header,
.dtm .o-box--banner,
.dtm__in--dv .l-footer {
	border-style: solid;
}

/* set the border width of our header section */
.dtm__in--dv .l-header {
	border-width: 0 0 3px;
}

/* set the border width of our midline section */
.dtm .o-box--banner {
	padding: 0;
    position: relative;
    border-width: 3px 0;
    z-index: 10;
    border-radius: 0;
}

/* set the border width of our footer section */
.dtm__in--dv .l-footer {
    border-width: 3px 0 0;
}

/* --------------------------------------------------------------------- *

@Theme

* --------------------------------------------------------------------- */
/*	@Layout Styles
	@Desc: Set up our layout styles
* --------------------------------------------------------------------- */
body {
    font: normal 16px/20px Arial, Helvetica, sans-serif;
}
b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0 0 10px;
}

p {
    line-height: 20px;
}

a {
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
}

li {
    padding: 0;
    margin: 0
}

img {
    max-width: inherit;
}

/* set the properties of the CSS shadow */
.dtm .dtm__in--dv [class*="shadow-floor"] {
    margin-bottom: 15px;
}

.dtm [class*="shadow-floor"]:before,
.dtm [class*="shadow-floor"]:after {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}

.dtm [class*="shadow-floor"]:before,
.dtm [class*="shadow-floor"]:after {
    top: 80%;
    bottom: 1.3rem;
}

.dtm [class*="shadow-floor"]:before {
    left: 4%;
}

.dtm [class*="shadow-floor"]:after {
    right: 4%;
}

.dtm__in--mv [class*="shadow-floor"]:before,
.dtm__in--mv [class*="shadow-floor"]:after {
    display: none;
}

/* set the color of our canvas background */
.l-outer__in {
	background: white;
}

/* set the desktop color of the header, midline & footer border color */
.dtm__in--dv .l-header,
.dtm .o-box--banner,
.dtm__in--dv .l-footer {
	border-color: #fff;
}

/* set the color of our form headline (defaults to #333) */
.c-brand--form .c-brand--form__legend {
	background: #747474;
}

/* set the color of our order review table (defaults to red) */
.c-brand--table th, 
.c-brand--table__th, 
.orderItemsTable th, 
.dtm__in--mv .c-brand--table tbody td:first-of-type {
	background: #747474;
}

/*	@Script Styles
 * --------------------------------------------------------------------- */
.js-eflex--fade > li:not(:first-child) {
    position: absolute;
}

.slide-show {
    overflow: hidden;
    display: block;
}

/*	@Graphics
 * --------------------------------------------------------------------- */

/* apr styles */
.dtm__in--dv [style^="--aspect-ratio"] {
    width: var(--aspect-ratio-width);
}

.arp-clear {
    background: none;
}

.arp-clear:after {
    display: none;
}

/* set our desktop background image */
.dtm__in--dv main.l-outer {
	background: #000 url(../images/desktop/bg.png?appV=[#DtmContext.ApplicationVersion#]) center top no-repeat;
    background-size: 100%;
}

/* set up our path to the sprite sheet */
[class*="sprite"] {
	background: url(../images/desktop/sprites.png?appV=[#DtmContext.ApplicationVersion#]) no-repeat;
}

/* Order Btn (Round) */
.sprite--btn-ord-round {
	background-position: 0 0;
    width: 98px;
    height: 98px;
}

.sprite--btn-ord-round:hover,
.sprite--btn-ord-round:focus {
	background-position: -98px 0;
}

/* Order Btn (Rect) */
.sprite--btn-ord-rect {
	background-position: 0 -110px;
    width: 190px;
    height: 55px;
}

.sprite--btn-ord-rect:hover,
.sprite--btn-ord-rect:focus {
	background-position: -190px -110px;
}

/* Order Btn (Big) */
.sprite--btn-ord-big {
	background-position: 0 -175px;
    width: 350px;
    height: 55px;
}

.sprite--btn-ord-big:hover,
.sprite--btn-ord-big:focus {
	background-position: 0 -240px;
}

/* Process Order  */
.sprite--btn-order-send {
	background-position: 0 -305px;
    width: 190px;
    height: 55px;
}

.sprite--btn-order-send:hover,
.sprite--btn-order-send:focus {
	background-position: -190px -305px;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    clear: both;
    position: relative;
}

.banner {
    width: 100%;
    text-align: center;
    clear: both;
    position: relative;
}

.round-img {
    border-radius: 8px;
}

/*	@Grouped Properties 
 * --------------------------------------------------------------------- */
[class*="ttl-"],
[class*="txt-"] {
    font-weight: normal;
    font-style: normal;
}

.dtm__in--mv [class*="ttl-"] {
    text-align: center;
}

.ttl-headline,
.ttl-mid {
    font-family: "Tungsten Semibold", Helvetica, sans-serif;
}

.ttl-main {
    font-family: "Tungsten Medium", Helvetica, sans-serif;
}

.ttl-top,
.dtm__in--dv .c-brand--subpage h2 {
    font-family: "Gotham Ultra", "Arial Black", Gadget, sans-serif;
}

.txt-main {
    font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
}

/* Footer & Body background */
.dtm__in--dv {
	background: #000000;
}

/* Header & Midline background */
.main-bg,
.dtm__in--dv .l-header,
.dtm__in--dv .l-footer {
    background: #000000; /* Old browsers */
background: -moz-linear-gradient(top, #000000 0%, #030303 6%, #1b1b1b 24%, #222222 28%, #2d2d2d 32%, #353535 35%, #3b3b3b 39%, #393939 46%, #313131 53%, #232323 60%, #151515 73%, #080808 87%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #000000 0%,#030303 6%,#1b1b1b 24%,#222222 28%,#2d2d2d 32%,#353535 35%,#3b3b3b 39%,#393939 46%,#313131 53%,#232323 60%,#151515 73%,#080808 87%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #000000 0%,#030303 6%,#1b1b1b 24%,#222222 28%,#2d2d2d 32%,#353535 35%,#3b3b3b 39%,#393939 46%,#313131 53%,#232323 60%,#151515 73%,#080808 87%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* Headline & Midline color */
.color-spotlight {
    color: #ffdf08;
}

/* Main site color */
.color-main,
#content_top .color-main,
.dtm__in--dv a,
.intro__copy p strong,
.dtm__in--dv .c-brand--subpage h2,
.dtm__in--dv .c-brand--subpage a {
    color: #1f53a3;
}

.color-grey,
.dtm__in--dv .subpage-text-nav,
.dtm__in--dv .subpage-text-nav a {
    color: #666;
}

.color-grey-dk,
.dtm__in--dv a:hover,
.dtm__in--dv a:focus {
    color: #111;
}

/* List Properties */
.dtm .c-list--bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dtm .c-list--bullets li {
    padding: 0 0 0 15px;
    margin: 0 0 10px;
}

.dtm .c-list--bullets li:before {
    background: #1f53a3;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 0;
    box-sizing: border-box;
}

/*	@Header Properties 
 * --------------------------------------------------------------------- */
.dtm__in--dv .l-header {
    z-index: 15;
    box-shadow: 0 3px 6px -1px rgba(84, 84, 84, 0.9);
}

.dtm__in--dv .l-header__in {
    padding: 0;
    box-shadow: none;
}

.dtm__in--dv .l-header__in .row-to-center {
    height: 121px;
}

.dtm__in--dv .l-header__in .ttl-headline {
    font-size: 45px;
    line-height: 37px;
}

.dtm__in--dv .l-header__in em.ttl-headline {
    font-size: 35px;
    line-height: 37px;
    color: #fff;
}

/*	@Offer Properties
 * --------------------------------------------------------------------- */
.ttl-offer {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.gfx-offer .sprite--btn-ord-rect {
    position: relative;
    top: auto; right: auto;
}

.dtm__in--dv .gfx-offer {
    height: 670px;
}

.dtm__in--dv .gfx-offer .article {
    width: 510px;
    height: 475px;
    margin-left: 75px;
    text-align: center;
    position: relative;
    z-index: 10;
}

.dtm__in--dv .gfx-offer .article h2 {
    background: url(../images/desktop/sprites.png?appV=[#DtmContext.ApplicationVersion#]) 0 -370px no-repeat;
    font-size: 20px;
    width: 390px;
    height: 35px;
    padding: 6px 0 0;
    margin: 0 auto 15px;
    clear: both;
}

.dtm__in--dv .gfx-offer #price {
    width: 295px;
}

.dtm__in--dv .payment {
    font-size: 0.8rem;
    width: 7.2rem;
    margin: 0 auto;
}

.dtm__in--dv .gfx-offer .sidebar {
    width: 295x;
    margin: 12px 15px 0 0;
    position: relative;
    z-index: 10;
}

.dtm__in--dv #shadow-floor1 {
    width: 265px;
    margin: 0 auto 15px;
}

.dtm__in--dv .video {
    background-color: #000;
    margin: 0 auto;
}

.dtm__in--dv #video {
    width: 265px;
    height: 265px;
}

.dtm__in--mv .video {
    background: none;
}

.dtm__in--dv #prod-show {
    top: 235px;
    left: 25px;
    z-index: 10;
}

/* set the size of the f&b wrapper */
.dtm__in--dv .fb {
    width: 295px;
    max-width: 295px;
    margin: 0 auto;
}

.dtm__in--mv .fb {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

/* set the text color and size of the headline */
.gfx-offer .ttl-top.fb__headline {
    color: white;
    text-transform: uppercase;
    margin: 0;
}

/* set the color of our banner and folds */
.fb .fb__banner {
    background: #112366;
    margin: 0;
}

.dtm__in--dv .fb .fb__banner {
    height: 35px;
    padding: 7px 0 0;
}

.dtm__in--mv .fb .fb__banner {
    padding: 5px 0;
}

.fb .fb__banner:before,
.fb .fb__banner:after {
    display: none;
}

/*.fb .fb__in:before, .fb .fb__in:after {
    display: none;
}*/

/* set the color & size of our list */
.fb .fb__list {
    background: white;
    font-size: 15px;
    line-height: 17px;
    list-style: none;
    padding: 8px 15px 10px;
    left: 0;
    border-color: white;
    border-width: 3px 0 0;
    box-shadow: inset 0 0 10px rgba(210,210,210,.75);
}

.fb .fb__list li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Midline Styles */
#offer-banner h3 {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
}

.dtm__in--dv #offer-banner {
    height: 96px;
    padding: 0 360px 0 20px;
}

.dtm__in--mv #offer-banner {
    padding: 5px 20px;
}

.dtm__in--mv #offer-banner h3 {
    font-size: 23px;
    line-height: 25px;
}

/*	@Middle Properties
 * --------------------------------------------------------------------- */
#mid-wrap hr {
    background-color: #15386d;
    height: 3px;
    margin: 3px auto;
    clear: both;
}

.dtm__in--mv #mid-wrap {
    padding: 0;
}

.ttl-mid {
    font-size: 40px;
    line-height: 42px;
}

.mid-banner {
    padding-bottom: 15px;
}

.dtm__in--mv .mid-copy {
    width: 100%;
}

.mid-copy .sprite--btn-ord-big {
    margin-top: 15px;
    clear: both;
}

.mid-li {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    clear: both;
    text-align: center;
    display: flex; 
    align-items: flex-start;
    justify-content: center;
}

.dtm__in--dv .mid-li__in:first-child {
    padding-left: 0;
    margin-left: 0;
}

.dtm__in--dv .mid-li__in:last-child {
    padding-right: 0;
    margin-right: 0;
}

.dtm__in--mv .mid-img {
    margin: 0 auto 10px;
}

.mid-mar {
    margin: 0 auto 10px;
}

.mid-side {
    text-align: center;
}

.dtm__in--mv .mid-side {
    width: 100%;
}

.mid-side .sprite--btn-ord-rect {
    margin: 15px auto 0;
    clear: both;
}

/* Never Styles */
.never {
    background: #000;
    padding: 30px 10px;
    border-bottom: 3px solid #fff;
}

.dtm__in--mv .never {
    padding: 10px;
}

.never__ttl {
    font-size: 48px;
    line-height: 50px;
    color: #ffdf08;
    margin: 0 auto 20px;
    text-align: center;
}

.dtm__in--dv .never-show .mid-li__in {
    margin: 0 7px;
}

/* Great Styles */
.great {
    background-color: #b7b7b7;
    text-align: center;
    padding: 35px 15px;
    box-shadow:inset 0 0 50px 15px #818181;
}

.great .mid-img {
    box-shadow: 0 4px 1px 0 #fff;
}

.great .txt-main {
    font-size: 20px;
    line-height: 22px;
}

.dtm__in--mv .great {
    padding: 10px;
}

.great__ttl {
    font-size: 60px;
    line-height: 62px;
    color: #000;
}

.dtm__in--dv .great-show .mid-li__in {
    padding: 0 12px;
}

/* Intro Styles */
.intro {
    padding: 45px 40px;
}

.dtm__in--mv .intro {
    padding: 10px 0;
}

.intro__copy .ttl-main {
    font-size: 52px;
    line-height: 54px;
    color: #5b5b5b;
}

.intro__copy strong.ttl-mid {
    font-size: 52px;
    line-height: 54px;
    color: #000;
}

.dtm__in--dv .intro__copy {
    padding-left: 35px;
}

.dtm__in--mv .intro__copy {
    padding-top: 15px;
}

#mid-wrap .intro__side hr {
    margin: 20px auto;
}

.dtm__in--dv .intro__side {
    width: 280px;
}

/*	@Form Properties 
 * --------------------------------------------------------------------- */

.dtm__in--dv #order .center-text {
    padding: 30px 0;
}

#order h5.ttl-top {
    font-size: 40px;
    line-height: 42px;
    color: #ffdf08;
}

#order p.ttl-order {
    font-size: 24px;
    line-height: 26px;
    color: #fff;
}

#order .ttl-top {
    font-size: 24px;
    line-height: 26px;
}

.dtm__in--dv #content_bottom {
    padding: 0 20px 20px;
}

.dtm__in--dv #content_bottom,
.dtm__in--dv #content_bottom p,
.dtm__in--dv .l-disclaimer,
.dtm__in--dv .l-disclaimer strong {
    font-size: 13px;
    line-height: 15px;
}

.dtm__in--dv #content_bottom #form hr {
    background-color: #d7d7d7;
    height: 3px;
}

.dtm__in--dv .c-brand--form__submission p {
    width: 80%;
    margin: 0 auto;
}

.dtm__in--dv #content_bottom #formProduct {
    padding: 50px 20px 0;
}

/*.colors {
    padding-bottom: 1em;
    overflow: hidden;
    clear: both;
}

.colors:last-child {
    padding-bottom: 0;
}*/

/* Offer Details Properties */
.dtm__in--dv .l-disclaimer {
    padding: 15px 20px 5px;
    border-radius: 0;
}

/*	@Upsell Properties 
 * ---------------------------------------------------------------------
.\@b .dtm__in--dv #content_top {
    padding-top: 20px;
} */

.\@b .upsell__qty i {
    font-style: normal;
}

/*	@Footer Properties 
 * --------------------------------------------------------------------- */
.dtm__in--dv .l-footer {
    color: #fff;
    position: relative;
    z-index: 10;
}

.dtm__in--dv .l-footer a {
    color: #fff;
    text-decoration: none;
}	

.dtm__in--dv .l-footer a:hover {
    color: #dedede;
    text-decoration: underline;
}

.dtm__in--dv .l-footer ul,
.dtm__in--dv .l-footer p {
    padding: 0 0 12px;
    margin: 0;
}

.dtm__in--dv .l-footer ul li {
    padding: 0 0 0 5px;
    border-right: none;
}

.dtm__in--dv .l-footer ul li a {
    padding-right: 5px;
}

.dtm__in--dv .l-footer ul li:after {
    color: #fff;
    content: "|";
}

.dtm__in--dv .l-footer ul li:last-child:after,
.dtm__in--dv .l-footer ul li.footer-last:after {
    content: "";
}

.dtm__in--dv .l-footer p:last-child {
    padding-bottom: 0;
}

.dtm__in--mv .l-footer p {
    margin: 0;
}

/*	@Subpage Properties 
 * --------------------------------------------------------------------- */
.dtm--subpage .dtm__in--dv #content_top {
    padding: 12px 3px;
}

.dtm__in--dv .c-brand--subpage {
    width: auto;
    padding: 0 15px 0;
    border-right: 1px solid #bdbcbd;
}

.dtm__in--dv .c-brand--subpage h2 {
    font-size: 45px;
    line-height: 47px;
    margin-bottom: 0;
}

.dtm__in--dv .c-brand--subpage,
.dtm__in--dv .c-brand--subpage p {
    font-size: 13px;
    line-height: 17px;
}

.dtm__in--dv .c-brand--subpage ul.c-list--bullets {
    margin-left: 0;
}

.dtm__in--dv .c-brand--subpage ul.c-list--bullets li {
    padding-left: 18px;
}

.dtm__in--dv .c-brand--subpage ul.c-list--bullets li:before {
    background: #19ae42;
}

.dtm__in--dv .subpage-text-nav {
    margin-top: 5px;
}

.dtm__in--dv .c-brand--subpage + aside {
    width: 317px;
    padding: 0 7px 0 10px;
    text-align: center;
}

.dtm__in--dv .c-brand--subpage + aside #prc-row {
    margin: 5px auto;
}

/*	@Mobile Properties
* --------------------------------------------------------------------- */

/* set the color of our mobile view-full-site button */
.dtm .vfs {
    background: #19ae42;
}

.dtm__in--mv a.order-button,
.dtm__in--mv .new-btns [href*="#order"] {
    background: rgb(25, 174, 66);
    background: -moz-linear-gradient(top, rgb(25, 174, 66), rgb(22, 144, 55));
    background: -webkit-linear-gradient(top, rgb(25, 174, 66), rgb(22, 144, 55));
    background: linear-gradient(to bottom, rgb(25, 174, 66), rgb(22, 144, 55));
}

.dtm__in--mv .offer-area {position: relative; display: block;}

/* overlay the payment graphics over the offer image */
.dtm__in--mv .offer-area .payment {position: absolute; z-index: 15;}

@media all and ( max-width : 640px ) {
    /* overlay the payment graphics over the offer image */
    .dtm__in--mv .offer-area .payment {
        /* can control the position of the graphics | can also use left &amp; top as well if necessary */
        top: 31.5vw;
        right: 4.5vw;

        /* can control the container of the graphics */
        width: 13.5vw;

        /* can control the size of the graphics */
        font-size: 1.5vw;
    }
}

/* for screens larger than 640px width */
@media all and ( min-width : 641px ) {
    .dtm__in--mv .offer-area .payment {
        /* can control the position of the graphics | can also use left &amp; top as well if necessary */
        top: 19.5rem;
        right: 5rem;

        /* can control the container of the graphics */
        width: 7.5rem;

        /* can control the size of the graphics */
        font-size: 1rem;
    }
}

@media screen and (orientation: portrait) {
    .dtm .dtm__in--mv .mid-li,
    .dtm .dtm__in--mv .mid-li {
        display: block;
    }

    .dtm .dtm__in--mv .mid-li__in {
        margin-bottom: 10px;
    }

    .dtm .dtm__in--mv .mid-li__in:last-child {
        margin-bottom: 0;
    }

    .dtm__in--mv .never .mid-li,
    .dtm__in--mv .great .mid-li {
        display: flex;
        flex-wrap: wrap;
    }

    .dtm__in--mv .great .txt-main {
        font-size: 15px;
        line-height: 17px;
    }

    .dtm__in--mv .never .mid-li__in,
    .dtm__in--mv .great .mid-li__in {
        padding: 3px;
        flex: 0 1 50%;
    }

    .dtm__in--mv .intro__copy h3.ttl-main,
    .dtm__in--mv .intro__copy strong.ttl-mid {
        font-size: 34px;
        line-height: 36px;
    }

}

@media screen and (orientation: landscape) {
    .dtm__in--mv .gfx-offer .ttl-top.fb__headline {
        font-size: 28px;
        line-height: 30px;
    }

    .dtm__in--mv .fb .fb__banner {
        padding-top: 3px;
    }

    .dtm__in--mv .c-list--bullets {
        font-size: 33px;
        line-height: 35px;
    }

    .dtm__in--mv .fb .c-list--bullets {
        padding-left: 20px;
    }

    .dtm__in--mv .fb .c-list--bullets li {
        padding-left: 30px;
    }
    
    .dtm__in--mv .c-list--bullets li:before {
        width: 14px;
        height: 14px;
        top: 10px;
    }

    .dtm__in--mv .mid-li {
        display: flex;
        flex-wrap: wrap;
    }

	.dtm__in--mv .mid-li__in {
        padding: 3px;
        flex: 0 1 33%;
    }

    .dtm__in--mv .never__ttl {
        font-size: 46px;
        line-height: 48px;
    }

    .dtm__in--mv .great .txt-main {
        font-size: 18px;
        line-height: 20px;
    }

    .dtm__in--mv .intro .mid-li__in {
        flex: 0 1 50%;
    }
}

/* add fingerprint nav
[#Partial.CSS.Module.FingerPrintNav#] */
.fp-nav__a:hover,
.fp-nav__a:focus {
    background: #6894ff;
}

.fp-nav__a {
    background: #1751DB;
}

.fp-nav__a--order {
    background: red;
}

.fp-nav__a--order:hover,
.fp-nav__a--order:focus {
    background: #ff5252;
}